 * {
	box-sizing: border-box;
}
html {
	height: 100%;
}

header {
	
	font-family: Arial, Helvetica, sans-serif;
	display: inline-flex;
	
}

header div h1{
	
	padding: 20px
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
	padding: 0;
	margin: 0;
	background: linear-gradient(90deg, #c5d0f4, rgb(107, 122, 204));	  
}

