@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.pageContainer header{
    display: flex;
    justify-content: space-between;
    margin: 2vh;
    align-items: center;
}

.pageContainer nav a{
    margin: 30px 2vw 0 2vw;
	text-decoration: none;
}


.deconnectionButton {
    left: 1vw;
}

.deconnectionButton {
	background: #fff;
	font-size: 14px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	color: #4C489D;
	box-shadow: 0px 2px 2px rgb(92, 86, 150);
	cursor: pointer;
	transition: .2s;
}

.deconnectionButton:active,
.deconnectionButton:focus,
.deconnectionButton:hover {
	border-color: #6A679E;
	outline: none;
}

 nav a.active, nav a.active:visited{
	color: rgb(255, 227, 65);
}
nav a:not(.active), nav a:not(.active):visited{
	color: black;
}

nav a:hover, nav a:visited:hover{
	color: rgb(255, 227, 65);

}
nav a{
	font-size: 25px;
} 

nav a:hover,
nav a:focus,
nav a.active {
	color: #fff;
}
nav a:hover:after,
nav:focus:after {
	opacity: 1;
	width: 20px;
	transition-delay: 0,0;
}
nav a.active:after {
	opacity: 1;
	width: 50%;
}