  table {
    border-collapse: collapse;
    margin: 5%;
    width: auto!important; 
    background-color: /*rgb(176, 176, 245)*/white!important;
    
}

th {
    border: 0.5pt solid black;
    padding: 20px 2px 20px 2px; 

}   
 
table a:hover, table a:hover:visited{
    color: rgb(4, 28, 126);
}


table a:visited, table a{
    color: rgb(4, 28, 126);
}
