 .statsSection li{
     text-align: justify;
     
 }
 
 
 .statsSection h1{
    font-size: 40px;
}
.statsSection button{
    display: inline-block;
}
.statsSection table{
    display: inline-block;
    
}

.statsSection >*{
    vertical-align: top;
}

.statsSection #section1{
    display: inline-block;
}
.statsSection .statsDateMois{
    display: inline-block;
    vertical-align: top;
}


.statsSection .statsYear{
    
    display: inline-block;
}

.statsYear th{
    text-align: center;
    width:10%;
}

.buttonSection button{
    width: 32.8%;
    font-weight: bold;
}

.statsSection .statsYear th{
    width: 50px;
}

.statsSection section{
    margin:0 4.5%;
    text-align: center;
}

.statsSection, .statsSection li{
    text-align: justify;
    margin-top: 5%;
}
.statsSection h1{
    text-align: center;
    font-weight: bold;
}
.statsSection{
    margin-top: 5%;
}